{% extends 'base.html.twig' %}

{% block title %}Modifier l'outil{% endblock %}

{% block body %}
    <h1>Modifier l'outil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}
{% endblock %}